<section class="dh-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 align-self-center color-white dh-banner-content">
        <h5>WELCOME TO</h5>
        <h1>Dixit Healing Chamber</h1>
        <p>Homeopathic clinic of Dr. Shravan Dixit is located in Jublie Hills Hyderabad. The clinic was established in 2006 and is one of the most reputed clinic in the vicinty. Guided by a clear vision.. <a>SEE MORE</a></p>
        <button class="dh-btn-secondary dh-btn-rounded">Meet the doctor</button>
      </div>
      <div class="col-12 col-md-5 align-self-center">
        <app-book-appointment></app-book-appointment>
      </div>
    </div>
  </div>
</section>
